<div>
<div class="container">
    <div class="card">
      <div class="front">
        <p><%= @user.email %> - If you hover over me, I will flip to the backside of the card.</p>
      </div>
      <div class="back">
        <p>This is the back of the card. This is what you see when you are hovered over the card.</p>
      </div>
    </div>
  </div>
</div>
</div>
