<h2>Members in which cities:<h2>
<%= pie_chart User.joins(:city).group("cities.name").count %>
<h2>Number of sign-ups per hour:</h2>
<%= column_chart User.group_by_hour_of_day(:created_at, format: "%l %P").count %>

<%# pie_chart User.joins(:city).group("city.name").count %>
