<div class="hero">
  <div class="hero-inner">
    <%= image_tag('logo_small.png', class: 'hero-logo') %>
    <div class="hero-copy">
      <h1>Welcome to the Metis Alumni Network.</h1>
      <p>A few reasons why this product is worth using, who is it for and why do they need it.</p>  
    </div>
    <div class="modal">
  <label for="modal-1">
    <div class="btn js-btn">Learn More</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <label class="modal-bg" for="modal-1"></label>
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1>Metis is the shit.</h1>
      <p class="intro">Let me tell you why. Intro text lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, nam, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi ullam. Officia, qui corporis nobis dolor temporibus minima.</p>
      <p class="body">Body text lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam.</p>
      <div>
      <button>Learn More</button>
    </div>
      <img src="images/thankspic.png" alt="">
     </div>
  </div>
</div>
  </div>
</div>

<div class="line-behind-text"><h6 class="er_toc_tag" id="er-toc-id-6">What is Metis?</h6>
</div>

<div class="bullets">
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="images/icon_pack/users32.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>This Bullet Title</h2>
      <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
      </div>
  </div>  
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="images/icon_pack/risegraph32.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Another Bullet Title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
    </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="images/icon_pack/monitor32.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Last Bullet Title</h2>
      <p>Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
    </div>
  </div> 
</div>  
 
