<div class="hero">
  <div class="hero-inner">
    <%= image_tag('logo_small.png', class: 'hero-logo') %>
    <div class="hero-copy">
      <h1>Welcome to the Metis Alumni Network.</h1>
      <p>Join fellow former Metis students and tell your stories and share your code among your peers.</p>  
    </div>
    <div class="modal">
      <label for="modal-1">
        <div class="btn js-btn">Learn More</div>
      </label>
      <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal-window">
        <label class="modal-bg" for="modal-1"></label>
        <div class="modal-inner">
          <label class="modal-close" for="modal-1"></label>
          <h1>Thanks for coming by!</h1>
          <p>I have to admit, web development and software is a real passion of mine. I absolutely love executing an idea and watching it work. As much as I enjoy it, I do take my profession very seriously and my goal is to progress to a strong mid/senior level engineer by working with people with a strong mentorship ethic. I'm looking forward to joining the right team and I'm excited to show you this demo. Ready? Lets go!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="line-behind-text"><h6 class="er_toc_tag" id="er-toc-id-6">What is Metis?</h6>
</div>

<div class="bullets">
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
    </div>
    <div class="bullet-content">
      <h2>OUR PRACTICE</h2>
      <p>Our name Metis is inspired by the Greek goddess associated with wisdom and good counsel. We believe that the combination of collaboration and practice leads to better learning.</p>
    </div>
  </div>  
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
    </div>
    <div class="bullet-content">
      <h2>OUR APPROACH</h2>
      <p>Over the course of an intensive Metis class, students gain a fundamental understanding of the digital space that will enable them to begin, change, or improve their careers.</p>
    </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
    </div>
    <div class="bullet-content">
      <h2>OUR PHILOSOPHY</h2>
      <p>Metis offers comprehensive courses in digital practices, designed to teach the skills needed to succeed in an increasingly digital world.</p>
    </div>
  </div> 
</div>
