<div class="image300">
<%= placeholdit_image_tag "300" %>
</div>

<div class="profile_body">
  <p>Four loko banjo hoodie bespoke bicycle rights church-key farm-to-table organic, post-ironic Marfa swag. Brunch Godard farm-to-table, Thundercats Vice ugh Etsy forage raw denim irony butcher sriracha mumblecore. Echo Park sustainable kogi, scenester slow-carb fap messenger bag gastropub occupy raw denim hella. Jean shorts twee plaid brunch, tofu meh pickled semiotics cardigan. Pour-over try-hard hoodie butcher, four loko Intelligentsia slow-carb aesthetic bitters. Pitchfork cliche four loko pour-over stumptown, McSweeney's wayfarers pork belly before they sold out salvia flannel cred Odd Future. Ugh sriracha direct trade Tonx 8-bit gluten-free, beard wolf deep v irony fingerstache.</p>
</div>  
