<% User.all.each do |user| %>
<ul>
<li><%= link_to user.email, "mailto:#{user.email}?Subject=Nice%20meeting%20you%20yesterday%20at%20Metis, #{user.name}!&body=Hi+#{user.name},+I+wanted+to+personally+thank+you+for +coming+by+the+Metis+Demo+Session+and+and+checking+out+my+app.+I+sincerely+enjoyed+speaking+with+you!+I've+attached+my+resume+if+you+wanted+ to+take+a+look.+

Thanks+again!+

Jesse Waites" %></li>
</ul>
<% end %>
