<div class="fifteen-pixel-drop">
<% @results.each do |result| %>
  <% if result.searchable.respond_to?(:email) %>
    <%= link_to image_tag(gravatar_image_url(result.searchable.email)), result.searchable %>
  <% else %>
    <%= link_to result.searchable.name, result.searchable %>
  <% end %>
<% end %>
</div>
