$large-screen: 1000px;
$blue: #33ACB5;
$white: #F1F1F1;
$black: #3B3B3D;
$pink: #D338AE;
$green: #63D457;



.wrapper {
  @include outer-container;
}

#logo {
  color: blue;
}

.left-nav {
  @include span-columns(3);
}

.main-content {
  @include span-columns(9);
}
