<h1>Friend's Activities</h1>
<hr>
<% @activities.each do |activity| %>
  <div class="activity">
    <% if activity.owner %>
      <%= link_to activity.owner.name, [activity.owner] %>
      <%= render_activities(activity) %>
    <% end %>
  </div>
<% end %>
