<header class="navigation">
  <div class="menu-wrapper">
    <div>
      <a href="" class="logo">
        <%= image_tag "logo_small.png" %>
      </a>
      <p class="menu-button" id="js-mobile-menu">MENU</p>
      <div class="nav">
        <ul id="navigation-menu">
          <li><a href="">Products</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Contact</a></li>
          <li class="navigation-search-bar">
            <div class="search-bar">
              <div class="search-and-submit">
                <input type="search" placeholder="Enter Search" />
                <button type="submit">
                  <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
                </button>
              </div> 
            </div>
          </li>
          <%# if user_signed_in? %>
            <!-- <li><%= gravatar_image_tag(current_user.email, :gravatar => { :size => 40 }, :class => "avatar") %></li> -->
          <%# else %>
            <li class="sign-up"><a href="">Sign Up</a></li>
          <%# end %>
        </ul>
      </div>
    </div>
  </header>
