<header class="navigation">
  <div class="menu-wrapper">
    <div>
        <%= link_to(image_tag("logo_small.png"), root_path, class: "logo") %>
      </a>
      <p class="menu-button" id="js-mobile-menu">MENU</p>
      <div class="nav">
        <ul id="navigation-menu">
          <li><a href="">Products</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Contact</a></li>
          <li class="navigation-search-bar">
            <div class="search-bar">
              <div class="search-and-submit">
                <%= form_for(:search, url: search_path, method: :get, html: {class: "search"}) do |form| %>
    <%= form.text_field :query, placeholder: "Search Here" %>
    <%= form.submit "Search", name: nil, :class => 'submit', :src => "https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" %>
  <% end %>
                <input type="search" placeholder="Enter Search" />
                <button type="submit">
                  <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
                </button>
              </div> 
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>
